Django
djangorestframework
django-celery-results
django-celery-beat
django-cors-headers
drf-nested-routers
django-filter
django-redis
coreapi
psycopg2
celery[redis]
celery_singleton
gunicorn
python-dotenv
Pillow
drf-yasg
flower
requests